<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet"  />
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää uusi kulkuväline</h1>
	<div> 
	<form th:object="${kulkuvaline}" th:action="@{saveKulkuvaline}" action="#" method="post">
		  	<table>
			<tr>
				<td>Kulkuväline:</td>
				<td><input type="text" th:field="*{kulkuneuvo}" /></td>
				<td th:if="${#fields.hasErrors('kulkuneuvo')}" th:errors="*{kulkuneuvo}">KulkuVäline Error</td>
			</tr>
			<tr>
				<td>Lisätiedot:</td>
				<td><input type="text" th:field="*{lisatiedot}" /></td>
				
			</tr>
						
			<tr>
				<td><button type="submit">Lisää</button></td>
			</tr>
			</table>
			
		</form>
	</div>
</body>
</html>