<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet"   />

<head>
	<title>Matkat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3 th:inline="text">Olet kirjautunut nimellä: [[${#httpServletRequest.remoteUser}]]</h3>
<h3 > Tällä sivulla voit tarkastella matkojen tietoja sekä lisätä uuden matkan tiedot.</h3>
  	
  	
	  <table class="table table-striped">
		<tr>
		    <th>Päivä</th>
		    <th>Kuvaus</th>
		     <th>Sää</th>
		     <th>Matka km </th>
		     <th>Osallistuja </th>
		     <th>Kulkuväline</th>
		     <th>Matkakuvaus</th>
		     <th></th>
		     <th></th>
		     <th></th>      
		</tr>  
		<tr th:each = "matka :${matkat}">
    		<td th:text="${matka.paiva}"></td>
    		<td th:text="${matka.kuvaus}"></td>
    		<td th:text="${matka.saa}"></td>
    		<td th:text="${matka.km}"></td>
			<td th:text="${matka.osallistuja.lempinimi}"></td>
    		<td th:text="${matka.kulkuvaline.kulkuneuvo}"></td>
    		<td th:text="${matka.matkakuvaus}"></td>
    	    		
    			
 				<td sec:authorize="hasAuthority('ADMIN')"><a  th:href="@{/delete/{id}(id=${matka.id})}">Poista</a></td>
 				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${matka.id})}">Muuta tietoja</a></td>  
 				   		
    	</tr>
     </table> 
     
   <a  href="/lisaa">Lisää uusi matka</a> 
 	<a  href="/osallistujalista">Osallistujalista</a> 
	<a   href="/kulkuvalinelista">Kulkuvälinelista</a> 
	<a th:href="@{/logout}">Logout</a>
   
	
</body>
</html>