<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet"  />
<head>

    <title>Muuta matkaa</title>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muuta osallistujan tietoja</h1>

		<form th:object="${osallistuja}" th:action="@{../savemuutettuOsallistuja}" action="#" method="post">
			
			
				<table>
				
			<tr>
		
				<td><input type="hidden" th:field="*{id}" class="form-control"/></td>
				
			<tr>
			
				<td>Etunimi:</td>
				<td><input type="text" th:field="*{etunimi}" /></td>
				<td th:if="${#fields.hasErrors('etunimi')}" th:errors="*{etunimi}">Etunimi Error</td>
			</tr>
			<tr>
				<td>Sukunimi:</td>
				<td><input type="text" th:field="*{sukunimi}" /></td>
				<td th:if="${#fields.hasErrors('sukunimi')}" th:errors="*{sukunimi}">Sukunimi Error</td>
			</tr>
			<tr>
				<td>Lempinimi:</td>
				<td><input type="text" th:field="*{lempinimi}" /></td>
				<td th:if="${#fields.hasErrors('lempinimi')}" th:errors="*{lempinimi}">Lempinimi Error</td>
			</tr>
			
			<tr>
				<td><button type="submit">Tallenna</button></td>
			</tr>
			</table>
			
			
		</form>
	
</body>
</html>