<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet"  />
<head>

    <title>Muuta kulkuvälinettä</title>
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Muuta kulkuvälineen tietoja</h1>

		<form th:object="${kulkuvaline}" th:action="@{../saveKulkuvaline}" action="#" method="post">
			<input type="hidden" th:field="*{kulkuvalineId}" class="form-control"/>
			<input type="text" th:field="*{kulkuneuvo}" />
			<input type="text" th:field="*{lisatiedot}" />
		
			
			<input type="submit"  value="Tallenna"></input>
			
		</form>
	
</body>
</html>