<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
    <title>Osallistujalista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	 <a class="btn btn-success"  href="/matkalista">Matkatiedot</a> 
	  <a class="btn btn-success"  href="/kulkuvalinelista">Kulkuvälinetietojen hallinta</a> 

<table>
	<tr>
		<th>Etunimi</th>
		<th>Sukunimi</th>
		<th>Lempinimi</th>
	</tr>
	<tr th:each = "osallistuja : ${osallistujat}">
		<td th:text="${osallistuja.etunimi}"></td>
		<td th:text="${osallistuja.sukunimi}"></td>
		<td th:text="${osallistuja.lempinimi}"></td>
		<td><a class="btn btn-danger" th:href="@{/deleteosallistuja/{id}(id=${osallistuja.id})}">Poista</a></td>
 		<td><a class="btn btn-success" th:href="@{/editosallistuja/{id}(id=${osallistuja.id})}">Muuta tietoja</a></td>   		
	</tr>
</table>
 <a class="btn btn-success"  href="/lisaaosallistuja">Lisää Osallistuja</a>  
 


</body>
</html>