<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <title>Tiedostot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<h1>Tiedostot</h1>
<table>
<tr>
<th>Nimi</th>
<th>Tyyppi</th>
</tr>
<tr th:each = "tiedosto : ${tiedostot}">
<td th:text="${tiedosto.fileName}"></td>
<td th:text="${tiedosto.mimeType}"></td>
<td><a th:href= "@{/tiedosto/{id}(id=${tiedosto.tiedostoId})}" >Lataa kuva</a></td>
</tr>
</table>
<a href="/lataaliite">Valitse uusi kuva</a>

</body>
</html>